{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}
<style>
        #example th,
        #example td {
            text-align: center;
            vertical-align: middle;
        }
        .fa-trash {
            color: red;
        }
          #example {
            border: 2px solid black; /* Entire table border thickness */
        }
         #example td, #example th {
            border-bottom: 2px solid black; /* Change thickness here */
        }
        .center{
  top: 70%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #C6EBC5;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  font-size:30px;
  font-weight:700;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
#status {
            width: 200px; /* Adjust the width as needed */
        }

.submit input[type="submit"]{
  width: 80%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  margin-left:45px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.submit input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
label[for="pass"] {
            margin-top: 30px;
             margin-left:10px;
        }
        label[for="newpass"] {
            margin-top: 10px;
             margin-left:10px;
        }
        label[for="connewpass"] {
            margin-top: 10px;
             margin-left:10px;
        }
        #pass {
            border-radius: 5px; /* Adjust the border radius as needed */
            padding: 6px; /* Adjust the padding as needed */
            border: 1px solid #ccc; /* Optional: Add border for visual clarity */
        }
         #newpass {
            border-radius: 5px; /* Adjust the border radius as needed */
            padding: 6px; /* Adjust the padding as needed */
            border: 1px solid #ccc; /* Optional: Add border for visual clarity */
        }
         #connewpass {
            border-radius: 5px; /* Adjust the border radius as needed */
            padding: 6px; /* Adjust the padding as needed */
            border: 1px solid #ccc; /* Optional: Add border for visual clarity */
        }
    </style>
<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match');
    document.changepassword.confirmpassword.focus()
    return false;
    }
    return true;
    }
</script>
<marquee direction="right" style="font-family:'Monotype Corsiva';font-size:25px;color:white;background-color:#240A34;font-weight:bold;margin-top:0.5%">
Change Password for Recruiter</marquee>

<div class="container" style="height:450px;">
    <div class="center" style="height:350px;width:500px;">

<form method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
           <label for="pass">Current Password</label>
            <input type="password" name="currentpassword" id="pass" style="width:220px;border-radius:1px solid black;margin-left:40px" required="true"><br><br>

            <label for="newpass">New Password</label>
            <input type="password" name="newpassword" id="newpass" style="width:220px;border-radius:1px solid black;margin-left:60px" required="true"><br><br>

            <label for="connewpass">Confirm New Password</label>
            <input type="password" name="confirmpassword" id="connewpass" style="width:220px;border-radius:1px solid black;" required="true"><br><br>



        <div class="submit">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</div>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Your Password Updated Successfully");
    window.location = ('{% url 'Logout' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something Went Wrong,Try Again...!");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your current password is wrong Please Try Again....!");
</script>
{% endif %}

{% endblock %}
