{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<style>
.center{
  top: 88%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background: #C6EBC5;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  font-size:30px;
  font-weight:700;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
  font-weight:400;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.submit input[type="submit"]{
  width: 50%;
  height: 50px;
   display: flex;
   margin-left:180px;
      justify-content: center; /* Horizontally center */
  border: 1px solid;
  text-align: center;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.submit input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}

.login_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.login_link a{
  color: #2691d9;
  text-decoration: none;
}
.login_link a:hover{
  text-decoration: underline;
}

</style>



<marquee direction="right" style="font-family:'Monotype Corsiva';font-size:25px;color:white;background-color:#240A34;font-weight:bold;margin-top:0.5%">
Profile</marquee>
<div class="container" style="height:700px;">
<div class="center" style="height:700px;">
    <h1>Recruiter Details</h1>
    <form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
         <div class="form-row">
         <div class="form-group col-md-12 text-center">
                     <img src="{{recruiter.image.url}}" width="200px" height="200px" style="border-radius:50%;">
         </div>

     </div>
     <div class="form-row">
         <div class="form-group col-md-6">
             <label style="font-weight: bold;">First Name</label>
             <input type="text" class="form-control" name="fname" value="{{recruiter.user.first_name}}" required>
         </div>
          <div class="form-group col-md-6">
             <label style="font-weight: bold;">Last Name</label>
             <input type="text" class="form-control" name="lname" value="{{recruiter.user.last_name}}" required>
         </div>
     </div>
        <div class="form-row">

          <div class="form-group col-md-12">
             <label style="font-weight: bold;">Company Name</label>
             <input type="text" class="form-control" name="company" value="{{recruiter.company}}" required>
         </div>
     </div>

        <div class="form-row">
         <div class="form-group col-md-6">
             <label style="font-weight: bold;">Contact</label>
             <input type="tel" class="form-control" name="contact" value="{{recruiter.mobile}}" required>
         </div>
          <div class="form-group col-md-6">
             <label style="font-weight: bold;">Email ID</label>
             <input type="email" class="form-control" name="email" value="{{recruiter.user.username}}" required>
         </div>
     </div>

        <div class="form-row">
         <div class="form-group col-md-6">
             <label style="font-weight: bold;">Gender</label>
             {% if recruiter.gender == "Male" %}
             <div style="border:1px solid black; padding:5px;border-radius:6px">
             <div class="custom-control custom-radio custom-control-inline">
                 <input type="radio" id="customRadioInline1" class="custom-control-input" name="gender" value="Male" checked>
                 <label style="font-weight: 500;" class="custom-control-label" for="customRadioInline1">Male</label>

             </div>
             <div class="custom-control custom-radio custom-control-inline">
                 <input type="radio" id="customRadioInline2" class="custom-control-input" name="gender" value="Female">
                 <label style="font-weight: 500;" class="custom-control-label" for="customRadioInline2">Female</label>

             </div>
             </div>
             {% else %}
             <div style="border:1px solid black; padding:5px;border-radius:6px">
             <div class="custom-control custom-radio custom-control-inline">
                 <input type="radio" id="customRadioInline1" class="custom-control-input" name="gender" value="Male">
                 <label style="font-weight: 500;" class="custom-control-label" for="customRadioInline1">Male</label>

             </div>
             <div class="custom-control custom-radio custom-control-inline">
                 <input type="radio" id="customRadioInline2" class="custom-control-input" name="gender" value="Female" checked>
                 <label style="font-weight: 500;" class="custom-control-label" for="customRadioInline2">Female</label>

             </div>
             </div>
             {% endif %}
         </div>

          <div class="form-group col-md-6">
             <label style="font-weight: bold;">Image</label>
             <input type="file" class="form-control" name="image" accept="image/*">
         </div>
     </div>
      <div class="submit">
            <input type="submit" value="Submit">
        </div>


</form>

</div>
</div>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Profile Updated Successfully");
    window.location = ('{% url 'recruiter_home' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong Try again...!");
</script>
{% endif %}


{% endblock %}
