{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}
<style>
        #example th,
        #example td {
            text-align: center;
            vertical-align: middle;
        }
        .fa-trash {
            color: red;
        }
          #example {
            border: 2px solid black; /* Entire table border thickness */
        }
         #example td, #example th {
            border-bottom: 2px solid black; /* Change thickness here */
        }
    </style>
<marquee direction="right" style="font-family:'Monotype Corsiva';font-size:25px;color:white;background-color:#240A34;font-weight:bold;margin-top:0.5%">
View Recruiters - Accepted
</marquee>
<hr>

 <div class="container" style="height:400px;overflow-y: auto;">
        <table class="table table-hover" id="example">
            <thead>
                <tr style="background-color : #000080; color:white">
                    <th>SNo.</th>
                    <th>Full Name</th>
                    <th>Email ID</th>
                    <th>Contact</th>
                    <th>Gender</th>
                     <th>Company</th>
                    <th>Status</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr style="background-color : #FFE4CF">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                    <td>{{ i.user.username }}</td>
                    <td>{{ i.mobile }}</td>
                    <td>{{ i.gender }}</td>
                    <td>{{ i.company }}</td>
                    <td>{{ i.status }}</td>
                    <td><img src="{{ i.image.url }}" style="width:100px;height:100px;border-radius:50%"></td>
<td>
    <a href="{% url 'change_status' i.id %}" class="btn btn-success btn-sm">Change Status</a>
</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
 </div>

{% include 'footer.html' %}

{% endblock %}
